[submodule "components/LovyanGFX"]
	path = components/LovyanGFX
	url = https://github.com/lovyan03/LovyanGFX.git
[submodule "components/button"]
	path = components/button
	url = https://github.com/mauriciobarroso/button.git
